%header.row
  %hgroup.twelvecol
    %h1= t('.login')
    %h2#login_msg= get_login_message_translation params[:msg]

%section.row
  = link_to 'developer', '/auth/developer', class: "login_strategi", id: "developer_login"
