.row
  .span1.offset3= render 'layouts/contact_options'

  .span4.offset5
    %header
      %h1.slab-this
        %span.slabtext Shh...
        %span.slabtext Sofware at work.
      %p.lead
        I believe that information should be shared and easily accessible.
        %br
        I'm currently working hard to do just that.

    %section
      %h2 Do you feel strongly about something?
      %p.lead Want that communicated &amp; shared? Please feel free to contact me.

      %p.btn-group.text-align-center
        %a{ class: "btn btn-large direct-contact-option", |
                   "data-contact-information" => "+45 42427176" } |
          %i.icon.icon-phone
          Call
        %a{ class: "btn btn-large direct-contact-option", |
                   "data-contact-information" => "emil@kampp.me" } |
          %i.icon.icon-pencil
          Mail

    .section-divider
    %section
      %h2 Some of my recent work

      %a{ href: "http://milestoneselling.dk", target: "_blank" }
        %h3 Milestone Selling
        %p
          %span.label.label-success Design and graphics
          that integrates a desktop and an iPad version so you can work from your mobile devises in those in-between moments.
        %p
          %span.label.label-warning Front-end development
          implements Twitter Bootstrap, CSS3, JSON, Javascript and BackboneJS to create a lightning fast user interface that makes it easy to get a feel for your sales-progress.
        %p
          %span.label.label-inverse Backend development
          uses Ruby on Rails, Ruby and various rack-middleware applications to ensure that the complex API is serving those complex finansial calculations just as fast as the user can demand them.

      %a{ href: "http://benjaminmedia.dk", target: "_blank" }
        %h3 Benjamin Media
        %p
          %span.label.label-warning Front-end development
          using CSS2 and 3 with grid960 to create a framework that allow serving multiple websites within the same application. Javascript and JSON ensures that the small elements runs smoothly on the users browser.
        %p
          %span.label.label-inverse Backend development
          uses Ruby on Rails, Ruby, Memcache, various rack-middleware applications and external and internal APIs to make sute that the vast number of articles and corss promotions, external commercials and content gets directed where it's supposed to, when it's suppossed to, and fast!
        %p
          %span.label.label-important Server management
          ensures that the structure of the dedicated servers is alsways optimal, that network drives and virtual ones all create a matrix where the large application can scale freely any time of the day.
