html
  overflow-y: scroll

body
  background: $bg_color image-url("bg-pattern.png") repeat
  color: $font_color
  @include normal-font-size

a, a:active, a:hover, a:visited
  color: $font_color
  font-weight: bold

// Bring back that hot pink.
::-moz-selection
  background: $selection_color
  color: lighten($selection_color, 40) !important
  text-shadow: none
::selection
  background: $selection_color
  color: lighten($selection_color, 40) !important
  text-shadow: none

/* Application title */
#app-title
  @include huge-font-size
  letter-spacing: 6px
  color: $alt_font_color
  text-decoration: none

/* Debug and inspect */
.debug_dump
  border: solid 1px $font_color
  @include border-radius(10px)
  padding: 10px
  background-color: $alt_font_color
  color: #fff
  @include box-shadow(inset 2px 2px 10px $font_color)

/* Main navigation */
#main-navigation-container
  @include box-sizing(border-box)
  padding: 30px 0px
  text-align: right
li.main-navigation-item
  @include inline-block
a.main-navigation-link
  @include large-font-size
  margin-right: 20px
  text-decoration: none
  @include pictogram-font
  @include inset-text-shadow

/* Login strategies */
a.login_strategi
  @include social-font
  @include huge-font-size
  line-height: 70px
  text-decoration: none

/* Buttons */
.buttons
  text-align: right

.button
  @include button($bg_color)
  @include normal-font-size
  text-transform: lowercase
  color: $alt_font_color

a.button
  text-decoration: none
  color: $alt_font_color

// Commit button
.button.commit
  @include button(green)
  @include normal-font-size
  text-transform: lowercase
  color: #fff

/* @ boxes @ */
@mixin outset-box
  display: block
  padding: 10px 20px
  margin: 20px 0px
  border: solid 1px lighten($alt_font_color, 10)
  @include box-shadow(1px 1px 2px lighten($bg_color, 30))
  @include linear-gradient(lighten($bg_color, 30), $bg_color)
  @include border-radius(5px)
  @include box-sizing(border-box)
  text-shadow: 0px 1px 2px #fff

@mixin inset-box
  display: block
  margin: 0px 0px 20px 0px
  padding: 10px 20px
  border: solid 1px lighten($alt_font_color, 10)
  @include box-shadow(inset 2px 2px 2px darken($bg_color, 10))
  @include linear-gradient($bg_color, lighten($bg_color, 10))
  @include border-radius(5px)
  @include box-sizing(border-box)

/* Info, alerts and notices */
.info-box
  @include outset-box
  padding: 0px
.info-icon
  @include inline-block
  @include pictogram-font
  font-size: 28px
  margin-right: 10px
  margin-left: 10px
  border: none
  @include box-shadow(none)
.info-text
  @include inline-block
