html
  overflow-y: scroll

body
  background: $bg_color image-url("bg-pattern.png") repeat
  color: $font_color
  @include normal-font-size

a, a:active, a:hover, a:visited
  color: $font_color
  font-weight: bold

// Bring back that hot pink.
::-moz-selection
  background: $selection_color
  color: lighten($selection_color, 40) !important
  text-shadow: none
::selection
  background: $selection_color
  color: lighten($selection_color, 40) !important
  text-shadow: none

/* Application title */
#app-title
  @include huge-font-size
  letter-spacing: 6px
  color: $alt_font_color
  text-decoration: none

/* Debug and inspect */
.debug_dump
  border: solid 1px $font_color
  @include border-radius(10px)
  padding: 10px
  background-color: $alt_font_color
  color: #fff
  @include box-shadow(inset 2px 2px 10px $font_color)

/* Main navigation */
#main-navigation-container
  @include box-sizing(border-box)
  padding: 30px 0px
  text-align: right
li.main-navigation-item
  @include inline-block
a.main-navigation-link
  @include large-font-size
  margin-right: 20px
  text-decoration: none
  @include pictogram-font
  @include inset-text-shadow

/* Login strategies */
a.login_strategi
  @include social-font
  @include huge-font-size
  line-height: 70px
  text-decoration: none

/* Buttons */
.buttons
  text-align: right

.button
  @include button($alt_font_color)
  @include normal-font-size
  text-transform: lowercase

a.button
  text-decoration: none
  color: #fff

// Commit button
.button.commit
  @include button(green)
  @include normal-font-size
  text-transform: lowercase

/* Info, alerts and notices */
.info
  color: #fff
  text-shadow: 2px 2px darken($bg_color, 50)
  @include stensil-font
  display: block
  padding: 10px
  margin: 20px 3px
  @include box-shadow(inset 1px 1px 5px 1px darken($bg_color, 40), inset -1px -1px 5px 1px darken($bg_color, 40), 0px 0px 7px 1px darken($bg_color, 50))
  background: $bg_color image-url("bg-pattern-dark.png") repeat
  border: solid 1px darken($bg_color, 20)
  @include border-radius(12px)
  letter-spacing: 2px

  .info-icon
    @include inline-block
    @include pictogram-font
    font-size: 28px
    margin-right: 16px
    margin-left: 10px

  .info-text
    @include inline-block

.alert
  color: #fff
  text-shadow: 2px 2px darken($bg_color, 50)
  @include stensil-font
  display: block
  padding: 10px
  margin: 20px 3px
  @include box-shadow(inset 1px 1px 5px 1px darken($bg_color, 40), inset -1px -1px 5px 1px darken($bg_color, 40), 0px 0px 7px 1px darken($bg_color, 50))
  background: $bg_color image-url("bg-pattern-dark.png") repeat
  border: solid 1px darken($bg_color, 20)
  @include border-radius(12px)
  letter-spacing: 2px

  .alert-icon
    @include inline-block
    @include pictogram-font
    font-size: 28px
    margin-right: 16px
    margin-left: 10px

  .alert-text
    @include inline-block


.notice
  color: #fff
  text-shadow: 2px 2px darken($bg_color, 50)
  @include stensil-font
  display: block
  padding: 10px
  margin: 20px 3px
  @include box-shadow(inset 1px 1px 5px 1px darken($bg_color, 40), inset -1px -1px 5px 1px darken($bg_color, 40), 0px 0px 7px 1px darken($bg_color, 50))
  background: $bg_color image-url("bg-pattern-dark.png") repeat
  border: solid 1px darken($bg_color, 20)
  @include border-radius(12px)
  letter-spacing: 2px

  .notice-icon
    @include inline-block
    @include pictogram-font
    font-size: 28px
    margin-right: 16px
    margin-left: 10px

  .notice-text
    @include inline-block
