@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:600,400,700|Play:400,700|Allerta+Stencil)
@font-face
  font-family: 'Socialico'
  font-style: normal
  font-weight: normal
  src: local('Socialico'), local('Socialico'), url('/assets/Socialico.woff') format('woff')
@font-face
  font-family: 'ModernPictograms'
  font-style: normal
  font-weight: normal
  src: local('ModernPictograms'), local('ModernPictograms'), url('/assets/ModernPictograms.woff') format('woff')

/* @ Font families @ */
@mixin sans-font
  font-family: 'Josefin Sans', sans-serif

@mixin square-font
  font-family: 'Play', sans-serif

@mixin stensil-font
  font-family: 'Allerta Stencil', sans-serif

@mixin social-font
  font-family: 'Socialico'

@mixin pictogram-font
  font-family: 'ModernPictograms'

/* @ Font sizes @ */
@mixin small-font-size
  font-size: 16px

@mixin normal-font-size
  font-size: 20px

@mixin medium-font-size
  font-size: 24px

@mixin large-font-size
  font-size: 50px

@mixin huge-font-size
  font-size: 70px

/* @ Standard html typography elements @ */
h1
  @include large-font-size

/* @ Text shadow @ */
@mixin inset-text-shadow
  text-shadow: 0px -1px darken($alt_font_color, 20), 0px 1px lighten($alt_font_color, 70)
html.textshadow
  // Inset text into background
  .inset-text-shadow
    @include inset-text-shadow
