= link_to "http://github.com/ekampp", target: "_blank" do
  %i.icon.icon-github
= link_to "http://twitter.com/#!/ekampp", target: "_blank" do
  %i.icon.icon-twitter
= link_to "http://facebook.com/ekampp", target: "_blank" do
  %i.icon.icon-facebook
= link_to "http://www.linkedin.com/pub/emil-kampp/42/650/152", target: "_blank" do
  %i.icon.icon-linkedin
